body {
    color:slateblue;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    text-align: center;
    background-image: url(pexels-roberto-nickson-2647973.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.container{
    display: block;
    max-width: 500px;
    margin: 50vh auto;
    background-color:tomato;
    padding: 0;
    border-radius: 20px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}
button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

button:hover,
button:focus{
    border: 3px solid slateblue;
    transform: scale(1.1);
    transition: 400ms;
}

#increment-btn {
    background: darkred;
    margin-right: 20px;
}

#save-btn {
    background: darkgreen;
}

